{{#if job}}
  <div class="container row">
    <h3>{{job.name}}</h3>
    <div>
      {{job.description}}
    </div>
    <div>
      {{job.date}}
    </div>
    <div>
      {{job.time}}
    </div>
    {{#if creator}}
    <div>
      <h5>Volunteers</h5>
      {{#each job.volunteers as |volunteer index|}}
      <div>
        {{volunteer.name}}   --    <a href="mailto:{{volunteer.email}}">{{volunteer.email}}</a>  
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>

<!-- only show edit and delete if currentUser created the job -->
  {{#if creator}}
    <div class="container card-panel row">
        <h5>Edit Opportunity</h5>
          <div class = "row">
          <form name='edit-job' action="/jobs/{{job.name}}?_method=put" method="post">
            <!-- <div class="input-field hide">
              <label for="job-name">Creator</label>
              <input class='validate' type="text" name="job[creator]" id="job-creator" value={{currentUser.local.email}}>
            </div> -->

            <div class="input-field">
              <input class='validate' placeholder="Title"type="text" name="job[name]"  id="edit-job-name" value="{{job.name}}">
              <label for="edit-job-name">Title</label>
            </div>

            <div class="input-field">
              <label for="edit-job-description">Description</label>
              <input class='validate' placeholder="Description"type="text" name="job[description]" id="edit-job-description" value="{{job.description}}">
            </div>
            <button class="btn waves-effect waves-light col s6" type="submit" name="action">Update
            </button>
          </form>
          <form class="col s6" name="delete-job" action="/jobs/{{job.name}}/delete?_method=delete" method="post">
              <button class="btn waves-effect waves-light" type="submit" name="action">Remove
              </button>
          </form>
        </div>
      </div>
  {{else}}
  <div class = "row">
    {{#if volunteer}}
    <span>You are signed up!</span>
    <!-- if user is not job creator & id signed up to volunteer, show cancel button -->
    <form name="take-part" action="/jobs/{{job.name}}/removeVolunteer?_method=delete" method="post">
      <div class="input-field hide">
        <label for="remove-volunteer">Volunteer</label>
        <input class='validate' type="text" name="{{currentUser.local.email}}" id="remove-volunteer" value="">
      </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Can't Make It
        </button>
    </form>
    {{else}}
    <!-- if user is not job creator & not already signed up to volunteer, show sign-up button -->
    <form  name="take-part" action="/jobs/{{job.name}}/addVolunteer?_method=put" method="post">
      <div class="input-field hide">
        <label for="add-volunteer">Volunteer</label>
        <input class='validate' type="text" name="job[volunteer]" id="add-volunteer" value="{{currentUser.local.email}}">
      </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Take Part
        </button>
    </form>
    {{/if}}
  </div>
  {{/if}}



{{else}}
<h2>Sorry, that opportunity could not be found.</h2>
{{/if}}
