<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <link rel="stylesheet" href="/css/style.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
  <header>
    <nav>
        <div class=" nav-wrapper green darken-3">
          <a href="/jobs" class="brand-logo yellow-text text-lighten-4" >help Up</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if currentUser}}
              <ul id="dropdown1" class="dropdown-content">
                <li><a href="/profile">profile</a></li>
                <li><a href="/logout">logout</a></li>
              </ul>
              <!-- Dropdown Trigger -->
              <li class="">
                <a class="dropdown-button valign-wrapper" href="#!" data-activates="dropdown1">
                  <img src="{{currentUser.local.profile.img}}" alt="" class="circle valign profile-avatar" >
                  {{currentUser.local.handle}}
                  <i class="material-icons right">arrow_drop_down</i>
                </a>
              </li>

            {{else}}
              <li><a href="/login">login</a></li>
              <li><a href="/signup">signup</a></li>
            {{/if}}
          </ul>
          <ul class="side-nav" id="mobile-demo">
            {{#if currentUser}}
              <li><a href="/logout">logout {{currentUser.local.email}}</a></li>
            {{else}}
              <li><a href="/login">login</a></li>
              <li><a href="/signup">signup</a></li>
            {{/if}}
          </ul>
        </div>

    </nav>
  </header>
  <main class = "container">
      {{{body}}}
  </main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOPoFiSga6yLKl3OYe40Y3uyECmRUx_6s&callback=initialize">
</script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="/js/app.js"></script>

</body>
</html>
